@{
    Layout = null;
}
                                       
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body class="index-page">

    @Html.Action("PartialSidebar", "Default")

    <main class="main">

        <!-- Hero Section -->
        @Html.Action("PartialHeroSection", "Default")
        <!-- /Hero Section -->
        <!-- About Section -->
        @Html.Action("PartialAbout", "Default")
        <!-- /About Section -->
        <!-- Stats Section -->
        @Html.Action("PartialStatistic", "Default")


        <!-- /Stats Section -->
        <!-- Skills Section -->
        @Html.Action("PartialSkill", "Default")
        <!-- /Skills Section -->
        <!-- Resume Section -->
        <section id="resume" class="resume section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Resume</h2>
                <p>Özgeçmişim</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row">

                    @Html.Action("PartialEducation", "Default")

                    @Html.Action("PartialExperience", "Default")

                </div>

            </div>

        </section><!-- /Resume Section -->
        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>Yaptığım projeler</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    @Html.Action("PartialCategories", "Default")

                    @Html.Action("PartialProject", "Default")

                </div>

            </div>

        </section><!-- /Portfolio Section -->
        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>Verdiğim hizmetler.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    @Html.Action("PartialServices", "Default")

                </div>

            </div>

        </section><!-- /Services Section -->
        <!-- Testimonials Section -->
        @Html.Action("PartialTestionial", "Default")


        <!-- Contact Section -->
        @Html.Action("PartialContacts", "Default")
        <!-- /Contact Section -->

    </main>


    <footer id="footer" class="footer position-relative light-background">
        <div class="container">
            <h3 class="sitename">Soner Yeşilay</h3>
            <p>AcunMedyaAkademi 1. CASE.</p>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-skype"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="container">
                <div class="copyright">
                    <span>Copyright</span> <strong class="px-1 sitename">Alex Smith</strong> <span>All Rights Reserved</span>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you've purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distribuited by <a href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </footer>

    @Html.Action("PartialScripts", "Default")
</body>

</html>