@model List<AcunMedyaAkademiPortfolyo.Models.TblContacts>
@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>İletişim Id</th>
        <th>İsim Soyisim</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
    </tr>

    <h3>Gelen Mesajlar</h3>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
